<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesisit.flippino">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".FlippinoStart"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FlippinoMainMenu" />
        <activity android:name=".UserLogin" />
        <activity android:name=".NewUser" />
        <activity android:name=".LettersMenu" />
        <activity android:name=".LettersSubMenu" />
        <activity android:name=".LettersSubALog" />
        <activity android:name=".StoryTitle" />
        <activity android:name=".StoryP1" />
        <activity android:name=".LetterIntro" />
        <activity android:name=".StoryP2" />
        <activity android:name=".StoryP3" />
        <activity android:name=".LetterIntro" />
        <activity android:name=".Configuration" />
        <activity android:name=".IntroToBu" />
        <activity android:name=".TracingIntro" />
        <activity android:name=".Tracing" />
        <activity
            android:name=".tlh_intro_h"
            android:label="@string/title_activity_tlh_intro_h"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".tlh_intro_t"
            android:label="@string/title_activity_tlh_intro_t"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".tlh_intro_l"
            android:label="@string/title_activity_tlh_intro_l"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ndk_intro_k"
            android:label="@string/title_activity_ndk_intro_k"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".gpr_intro_p"
            android:label="@string/title_activity_gpr_intro_p"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".wys_intro_w"
            android:label="@string/title_activity_wys_intro_w"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ndk_intro_n"
            android:label="@string/title_activity_ndk_intro_n"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".gpr_intro_r"
            android:label="@string/title_activity_gpr_intro_r"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".wys_intro_y"
            android:label="@string/title_activity_wys_intro_y"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bmng_intro_m"
            android:label="@string/title_activity_bmng_intro_m"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".wys_intro_s"
            android:label="@string/title_activity_wys_intro_s"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bmng_intro_b"
            android:label="@string/title_activity_bmng_intro_b"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bmng_intro_nga"
            android:label="@string/title_activity_bmng_intro_nga"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bmng_intro_ng"
            android:label="@string/title_activity_bmng_intro_ng"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bmng_intro_g"
            android:label="@string/title_activity_bmng_intro_g"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".njcf_intro_c"
            android:label="@string/title_activity_njcf_intro_c"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".bmng_intro_bu"
            android:label="@string/title_activity_bmng_intro_bu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>